.folders-icon._ballandball {
    background-image: url('../images/icon-ballandball.svg');
}

.folders-icon._bayraktar {
    background-image: url('../images/icon-bayraktar.svg');
}

.folders-icon._crash {
    background-image: url('../images/icon-crash.svg');
}

.folders-icon._crashfootball {
    background-image: url('../images/icon-crashfootball.svg');
}

.folders-icon._crashsportsbet {
    background-image: url('../images/icon-crashsportsbet.svg');
}

.folders-icon._crashsxfootball {
    background-image: url('../images/icon-crashsxfootball.svg');
}

.folders-icon._dice {
    background-image: url('../images/icon-dice.svg');
}

.folders-icon._dogstreet {
    background-image: url('../images/icon-dogstreet.svg');
}

.folders-icon._double {
    background-image: url('../images/icon-double.svg');
}

.folders-icon._fastfielder {
    background-image: url('../images/icon-fastfielder.svg');
}

.folders-icon._fruittowers {
    background-image: url('../images/icon-fruittowers.svg');
}

.folders-icon._hamsta {
    background-image: url('../images/icon-hamsta.svg');
}

.folders-icon._hilo {
    background-image: url('../images/icon-hilo.svg');
}

.folders-icon._javelinx {
    background-image: url('../images/icon-javelinx.svg');
}

.folders-icon._jeuduchien {
    background-image: url('../images/icon-jeuduchien.svg');
}

.folders-icon._keno {
    background-image: url('../images/icon-keno.svg');
}

.folders-icon._limbo {
    background-image: url('../images/icon-limbo.svg');
}

.folders-icon._mines {
    background-image: url('../images/icon-mines.svg');
}

.folders-icon._neko {
    background-image: url('../images/icon-neko.svg');
}

.folders-icon._saopaulo {
    background-image: url('../images/icon-saopaulo.svg');
}

.folders-icon._spinstrike {
    background-image: url('../images/icon-spinstrike.svg');
}

.folders-icon._stairs {
    background-image: url('../images/icon-stairs.svg');
}

.folders-icon._stp {
    background-image: url('../images/icon-stp.svg');
}

.folders-icon._takemyplinko {
    background-image: url('../images/icon-takemyplinko.svg');
}

.folders-icon._towers {
    background-image: url('../images/icon-towers.svg');
}

.folders-icon._turbomines {
    background-image: url('../images/icon-turbomines.svg');
}

.folders-icon._turboplinko {
    background-image: url('../images/icon-turboplinko.svg');
}

.folders-icon._wicketblast {
    background-image: url('../images/icon-wicketblast.svg');
}